/* Common classes */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #F4D04E;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    gap: 20px;
}


.attribution {
    font-size: 16px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* main section */

main {
    width: 384px;
    background-color: white;
    border-bottom: 10px solid black;
    border-right: 10px solid black;
    border-radius: 20px;
    padding: 24px;
}

main>img {
    border-radius: 10px;
    margin-bottom: 24px;
}

main h4 {
    color: #111111;
    background-color: #F4D04E;
    display: inline-block;
    padding: 4px 12px;
    border-radius: 4px;
    font-size: 14px;
}

main p:nth-child(3) {
    color: #111111;
    margin-block: 12px;
    font-size: 14px;
}

main h3 {
    margin-bottom: 12px;
    font-size: 24px;
}

main p:nth-child(5) {
    color: #6B6B6B;
    font-size: 16px;
}

main div {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 24px;
}

main div img {
    border-radius: 50%;
    height: 32px;
    width: 32px;
}

/* main section */